html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
  
}

.el-step__title {
    font-size: 14px;
}

.el-tabs__item,
.el-form-item__label {
    font-size: 15px;
}

.el-checkbox__label {
    padding-left: 5px;
}

.ql-editor{
    height: 300px;
}